<footer class="main-footer page-container">
  <div class="main-footer__copyright">
    <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" class="main-footer__cc">
      <img src="/images/by.svg" class="cc_icon" />
      <img src="/images/nc.svg" class="cc_icon" />
      <img src="/images/nd.svg" class="cc_icon" />
    </a>
    <span class="main-footer__attribution">2015 Easy Press</span>
  </div>
</footer>
