<header id="main-header">
  <div class="main-header__external-links">
    <a href="https://www.instagram.com/easy.press/" class="main-header__external-link">
      <img src="/images/instagram-logo.svg" class="main-header__external-link-icon" />
    </a>

    <a href="https://www.facebook.com/Easy-Press-543600772457025" class="main-header__external-link">
      <img src="/images/facebook-logo.svg" class="main-header__external-link-icon" />
    </a>
  </div>

  <img class="logo" src="/images/logo.png" />

  <div class="header-token-container">
    {{#eachRandom tokens}}
      <img class="header-token header-token{{@index}}" src="/images/token/{{this}}"/>
    {{/eachRandom}}
  </div>
</header>
