<header class="main-header">
  <img class="main-header__logo" src="/images/logo.png" />

  <div class="main-header__social-media">
    <!-- <a href="https://shop.token-expo.com/">Shop</a> -->

    <a href="https://www.instagram.com/really.easy.press/" class="external-link">
      <img src="/images/instagram-logo.svg" class="external-link-icon" />
    </a>

    <a href="https://www.facebook.com/Easy-Press-543600772457025" class="external-link">
      <img src="/images/facebook-logo.svg" class="external-link-icon" />
    </a>
  </div>

  <p class="about">
    A night of art, comics, music and video games.
  </p>

  {{#eachRandom tokens}}
    <img src="/images/token/{{this}}" class="token token--{{@index}}" />
  {{/eachRandom}}
</header>
