<header id="main-header">
  <div class="main-header__external-link-bar">
    <div class="main-header__external-links">
      <img class="logo" src="/images/logo.png" />
      <a href="https://www.instagram.com/schneiderik/" class="main-header__external-link">
        <img src="/images/instagram-logo.svg" class="main-header__external-link-icon" />
      </a>
      <a href="http://blog.schneiderik.com" class="main-header__external-link">
        <img src="/images/tumblr-logo.svg" class="main-header__external-link-icon" />
      </a>
      <a href="https://www.facebook.com/Easy-Press-543600772457025" class="main-header__external-link">
        <img src="/images/facebook-logo.svg" class="main-header__external-link-icon" />
      </a>
      <a href="http://easy-press.co" class="main-header__external-link align-right easy-press-logo">Easy Press</a>
    </div>
  </div>
</header>
