<header id="main-header">


  <img class="logo" src="/images/logo.png" />

  <div class="header-token-overflow-wrapper">
    <div class="header-token-container">
      {{#eachRandom tokens}}
        <img class="header-token header-token{{@index}}" src="/images/token/{{this}}"/>
      {{/eachRandom}}
    </div>
  </div>
</header>
