<article id="token5">
  <div data-accordian-trigger="token5">
    <h2 class="title">Token 5: October 2, 2017</h2>
  </div>

  <div data-accordian-target="token5">
    <figure>
      <div class="tokens">
        <div class="token"><img src="/images/token/5-max.png" /></div>
        <div class="token"><img src="/images/token/5-melissa.png" /></div>
        <div class="token"><img src="/images/token/5-aim.png" /></div>
      </div>

      <figcaption>
        Tokens contributed by:
        <a href="http://maxbareart.com/">Max Bare</a>, <a href="http://melissasue-stanley.squarespace.com/">Melissa Sue Stanley</a> and <a href="https://www.aimren.com/">Aim Beland</a>.
      </figcaption>
    </figure>

    <p>
      Emporium in Logan Square will be hosting Token 5.
    </p>

    <p>
      <a href="https://goo.gl/forms/O2LlqSsydYCwMHIc2">Apply to Token 5</a>.
    </p>

    <p>
      Applications close Tuesday, September 5, 2017.
      Music and exhibitors will be announced on Friday, September 8, 2017.
    </p>
  </div>
</article>
