<article id="token5">
  <div data-accordian-trigger="token5">
    <h2 class="title">Token 5: October 2, 2017</h2>
  </div>

  <div data-accordian-target="token5">
    <p>
      Emporium in Logan Square once again hosted Token 5.
      The event was sponsored by
      <a href="http://do312.com/token5">Do312</a> and
      <a href="http://pabstblueribbon.com/">Pabst Blue Ribbon</a>.
      Music was provided by <a href="https://www.martymars.com/">Marty Mars</a> and <a href="http://christine-gutierrez.com">Cat Claw</a>.
      We were very excited to have our first local video game, <a href="http://www.joshdelson.com/capstone-game">Gaze</a>,
      exhibited by <a href="http://www.joshdelson.com/">Josh Delson</a>.
    </p>

    <div class="tokens">
      <div class="token"><img src="/images/token/5-max.png" /></div>
      <div class="token"><img src="/images/token/5-melissa.png" /></div>
      <div class="token"><img src="/images/token/5-aim.png" /></div>
    </div>

    <p>
      Tokens contributed by:
      <a href="http://maxbareart.com/">Max Bare</a>, <a href="http://melissasue-stanley.squarespace.com/">Melissa Sue Stanley</a> and <a href="https://www.aimren.com/">Aim Beland</a>.
    </p>

    <p>

    <h3>Exhibitors</h3>

    <p>
      Token 5 was so excited to welcome these amazing Chicagoans:
      <a href="http://maxbareart.com/">Max Bare</a>,
      <a href="http://melissasue-stanley.squarespace.com/">Melissa Sue Stanley</a>,
      <a href="https://www.aimren.com/">Aim Beland</a>,
      <a href="http://sagecoffey.tumblr.com/">Sage Coffey</a>,
      <a href="http://www.archaicsmiles.com/">Holly Morningstar</a>,
      <a href="http://biancaxunise.com/">Bianca Xunise</a>,
      <a href="http://www.stephstanga.com/">Steph Stanga</a>,
      <a href="http://mjb-art.com/home.html">Marcelo J. Biott</a>,
      <a href="http://nicklacke.com/">Nick Lacke</a>,
      <a href="www.ornumap.com">OORN</a>,
      <a href="http://berhuff.com/">Amber Huff</a>,
      <a href="http://www.johnclarkbaileyjr.com/">John Bailey</a>,
      <a href="https://www.etsy.com/shop/GirlFawkesPins">Jana Shute (Girl Fawkes Pins)</a>,
      <a href="http://www.facebook.com/TheSpeakeasyPress">The Speakeasy Press</a>,
      <a href="http://www.downfallarts.com/">Downfall Arts</a>,
      <a href="http://36lbsofproduct.com/">Michael Ridge</a>,
      <a href="https://www.facebook.com/quebonitoboutique">Que Bonito</a>,
      <a href="http://chrisgallevo.com/">Chris Gallevo Art</a>,
      <a href="http://yarniesluvyou.com/">Mikey Anderson</a>,
      <a href="http://annalisaillustration.com/">Anna Lisa Schneider</a>,
      <a href="http://andreabelldraws.com/">Andrea Bell</a>,
      <a href="http://www.jessicacheckeroski.com/">Jessica Checkeroski</a>,
      <a href="http://www.Cantarella.Ink/">Ali Cantarella</a>,
      <a href="http://blakejones.co/">Blake Jones</a>,
      <a href="http://maddelyn.com/">Maddelyn</a>,
      <a href="http://lucasreif.com/">Lucas Reif</a>,
      <a href="http://pizzagirlcomic.tumblr.com/">Alex Waskelo</a>,
      <a href="http://instagram.com/thewolfmaria">Maria Lopez</a>,
      <a href="https://www.instagram.com/artofthetinman/">Joseph Tinman Tinaglia</a>,
      <a href="https://www.hello-david.com/">David Alvarado</a>,
      <a href="https://www.facebook.com/CHICAGOCREATIVECOLLABORATORS">Chicago Creative Collaborators</a>,
      <a href="https://www.instagram.com/louisafunkeillo/">Louisa Funke</a>,
      <a href="http://coletron.com/">Coleton Mastick</a>,
      <a href="http://sharicarrillo.com/">Shari Carrillo</a>,
      <a href="http://abbyjoillo.com/">Abby Turner</a>,
      <a href="https://www.furiousflair.com/">Furious Flair</a>,
      <a href="http://lizzytiritilli.tumblr.com/">Lizzy Tiritilli</a>,
      <a href="http://ashlypowley.tumblr.com/">Ashly Nichole Marie Powley</a>,
      <a href="http://i-brodsky.tumblr.com/">Ilana Brodsky</a>
      and <a href="http://www.joshdelson.com/">Josh Delson</a>
    </p>
  </div>
</article>
