<article id="token1">
  <div data-accordian-trigger="token1">
    <h2 class="title">Token 1: September 30, 2015</h2>
  </div>

  <div data-accordian-target="token1">
    <p>
      Token 1 was held at Emporium in Logan Square near the end of 2015.  After months of planning,
      the day before the event Erik had to rush to the hospital to have his appendix removed.
      The event still went on; and with the help of family, friends and exhibitors, Token was a
      great success.  The night was hosted by <a href="http://pabstblueribbon.com/">Pabst Blue Ribbon</a>
      and <a href="http://do312.com/">Do312</a>,
      included music by <a href="http://christine-gutierrez.com">Cat Claw</a>,
      and held perfomances by <a href="https://www.facebook.com/williamsidesatariparty/">William Sides Atari Party</a> and <a href="https://www.facebook.com/DiodeMilliampere/?fref=ts">Diode Milliampere</a>,
      A photo booth was graciously provided by <a href="http://www.glitterguts.com/">Glitter Guts</a>.
    </p>

    <div class="tokens">
      <div class="token"><img src="/images/token/1-christine.png" /></div>
      <div class="token"><img src="/images/token/1-shea.png" /></div>
      <div class="token"><img src="/images/token/1-erik.png" /></div>
      <div class="token"><img src="/images/token/1-armani.png" /></div>
      <div class="token"><img src="/images/token/1-adrian.png" /></div>
    </div>

    <p>
      Tokens contributed by:
      <a href="http://christine-gutierrez.com">Christine Gutierrez</a>, <a href="https://twitter.com/ILLustratedGRL">Shea Cahill</a>, <a href="http://schneiderik.com">Erik Schneider</a>, <a href="http://www.armanibarron.com/">Armani Barron</a>, and Adrian Quintero.
    </p>

    <h3>Exhibitors</h3>

    <p>
      We were pleased to welcome several Chicago artist and organizations to the first Token.
      They were:
      <a href="http://www.radiatorcomics.com/">Radiator Comics</a>,
      <a href="http://www.bricabracrecords.com/">Bric-a-Brac Records</a>,
      <a href="http://feeltrip.co/">Feeltrip Records</a>,
      <a href="http://www.davescheidt.com/">Dave Scheidt</a>,
      <a href="http://aaronpittman.tumblr.com/">Aaron Pittman</a>,
      <a href="http://melissasuestanley.net/">Melissa Sue Stanley</a>,
      <a href="http://maxbareart.com/">Max Bare</a>,
      <a href="http://kevinbudnik.com/">Kevin Budnik</a>,
      <a href="http://hello-david.com/">David Alvarado</a>,
      <a href="http://mosstapes.com/">Mosstapes</a>,
      <a href="http://www.perfectly-acceptable.com/">Perfectly Acceptable Press</a>,
      <a href="http://johnclarkbaileyjr.com/">John Bailey</a>,
      <a href="http://jbroe.com/">JB Roe</a>,
      <a href="http://biancaxunise.tumblr.com/">Bianca DeBardelaben</a>,
      and <a href="http://alexnall.tumblr.com/">Alex Nall</a> (representing <a href="http://chicagozinefest.org/">Chicago Zine Fest</a>).
    </p>
  </div>
</article>
