<article id="token3" class="page-container">
  <h2>Token 3: April 27, 2016</h2>

  <figure>
    <div class="tokens">
      <div class="token"><img src="/images/token/3-sage.png" /></div>
      <div class="token"><img src="/images/token/3-jb.png" /></div>
      <div class="token"><img src="/images/token/3-yewon.png" /></div>
    </div>

    <figcaption>
      Tokens contributed by:
      <a href="http://sagecoffey.tumblr.com/">Sage Coffey</a>,
      <a href="http://jbroe.com/">JB Roe</a>,
      <a href="http://litlslaywon.com/">Yewon Kwon</a>.
    </figcaption>
  </figure>

  <p>
    Token 3 was held at Emporium in Logan Square, and was sponsored by
    <a href="http://do312.com/token2">Do312</a> and
    <a href="http://pabstblueribbon.com/">Pabst Blue Ribbon</a>.
    Music was provided by <a href="http://christine-gutierrez.com">Cat Claw</a>,
    Laura Caringell and Andrew Joseph of
    <a href="http://lumpenradio.com/paidtimeoff.html">Paid Time Off</a>,
    and a DJ set by <a href="http://www.whitemysteryband.com/">Francis Scott Key White of White Mystery</a>.
  </p>

  <figure>
    <div class="slideshow">
      <img src="/images/token/token3-photos/1.jpg">
      <img src="/images/token/token3-photos/2.jpg">
      <img src="/images/token/token3-photos/3.jpg">
      <img src="/images/token/token3-photos/4.jpg">
      <img src="/images/token/token3-photos/5.jpg">
      <img src="/images/token/token3-photos/6.jpg">
      <img src="/images/token/token3-photos/7.jpg">
      <img src="/images/token/token3-photos/8.jpg">
      <img src="/images/token/token3-photos/9.jpg">
      <img src="/images/token/token3-photos/10.jpg">
      <img src="/images/token/token3-photos/10.jpg">
      <img src="/images/token/token3-photos/11.jpg">
      <img src="/images/token/token3-photos/12.jpg">
      <img src="/images/token/token3-photos/13.jpg">
    </div>

    <figcaption>

      Photo booth by <a href="http://www.glitterguts.com/">Glitter Guts</a>. Additional photography by <a href="https://www.instagram.com/mantilla.s/">Sergio Mantilla</a>.
    </figcaption>
  </figure>

  <h3>Exhibitors</h3>

  <p>
    Token 3 had the large exhibitor list yet. We were proud to welcome:
    <a href="https://deliaawesome.com/the-comic/">Michael Schneider</a>,
    <a href="https://dumpstertapes.bandcamp.com/">Dumpster Tapes</a>,
    <a href="http://mikefreiheit.com/">Mike Freiheit</a>,
    <a href="http://wallofyouth.com/">Wall of Youth Records</a>,
    <a href="http://mosstapes.com/">Moss Tapes</a>,
    <a href="www.razielpuma.com">Raziel Puma</a>,
    <a href="https://mjb-art.com/">Marcelo Biott</a>,
    <a href="http://www.eeeric.com/comics/">Eric Reyes</a>,
    <a href="http://sagecoffey.tumblr.com/">Sage Coffey</a>,
    <a href="http://topfloorpress.etsy.com/">Top Floor Press</a>,
    <a href="http://www.johnclarkbaileyjr.com/">John Bailey</a>,
    <a href="http://www.1980recs.com/">1980 Records</a>,
    <a href="http://volatilestud.io/">Jacob Halton</a>,
    <a href="http://lukospicturehouse.com/">Luke Schuler</a>,
    <a href="http://javiercantdraw.com/">Javier Suárez</a>,
    <a href="http://tallpatrecords.com/">Tall Pat Records</a>,
    <a href="http://manorhillman.tumblr.com/">Harry Hillman</a>,
    <a href="http://litlslaywon.com/">Yewon Kwon</a>,
    <a href="http://cargocollective.com/jessicacadwell">Jess Cadwell</a>,
    <a href="http://griffinmiller.tumblr.com/">Griffin Miller</a>,
    <a href="http://jbroe.com/">JB Roe</a>,
    <a href="http://blackmetaloftheamericas.com/">Edward Blair</a>,
    <a href="https://www.facebook.com/groups/698359116937067/">Chicago Women's Comics Collective</a>,
    <a href="https://www.facebook.com/sweetandsourbyadriana/">Adriana Peña</a>,
    <a href="https://www.instagram.com/servicebureausaic/">Service Bureau at The School of the Art Institute of Chicago</a>,
    <a href="http://biancaxunise.tumblr.com/">Bianca Xunise</a>,
    <a href="http://kevinbudnik.com/">Kevin Budnik</a>,
    <a href="http://berhuff.com/">Amber Huff</a>,
    <a href="https://www.instagram.com/gilleyman">Joshua Gilley</a>,
    <a href="https://www.instagram.com/artofthetinman">Joseph Tinaglia</a>,
    <a href="http://bskizzle7.wix.com/ibrodsky">Ilana Brodsky</a>,
    <a href="http://www.sugarbro.com/">Sean Mac</a>,
    <a href="http://www.nicklacke.com/">Nick Lacke</a>,
    <a href="http://www.radiatorcomics.com/">Radiator Comics</a>,
    <a href="https://www.instagram.com/xicxzine/">Xic@ Zine</a>,
    <a href="http://www.unsungfemmes.com/">Emily Ornberg</a>,
    <a href="http://annajobeck.com/">Anna Jo Beck</a>,
    <a href="http://www.mikecenteno.com">Mike Centeno</a>,
    <a href="http://andreabelldraws.com/">Andrea Bell</a>,
    and <a href="http://maximumpelt.bigcartel.com/">Maximum Pelt</a>
  </p>
</article>