<article id="token4">
  <div data-accordian-trigger="token4">
    <h2 class="title">Token 4: September 21, 2016</h2>
  </div>

  <div data-accordian-target="token4">
    <p>
      Emporium in Logan Square once again hosted Token 4.
      The event was sponsored by
      <a href="http://do312.com/token2">Do312</a> and
      <a href="http://pabstblueribbon.com/">Pabst Blue Ribbon</a>.
      Music was provided by <a href="http://christine-gutierrez.com">Cat Claw</a>, and Laura Caringell and Andrew Joseph of
      <a href="http://lumpenradio.com/paidtimeoff.html">Paid Time Off</a>.
      Photo booth by <a href="http://www.glitterguts.com/">Glitter Guts</a>.
    </p>

    <div class="tokens">
      <div class="token"><img src="/images/token/4-jourdon.png" /></div>
      <div class="token"><img src="/images/token/4-victoria.png" /></div>
      <div class="token"><img src="/images/token/4-ali.png" /></div>
      <div class="token"><img src="/images/token/4-gabi.png" /></div>
      <div class="token"><img src="/images/token/4-henry.png" /></div>
    </div>

    <p>
      Tokens contributed by:
      <a href="https://www.instagram.com/jourdon/">Jourdon Gullett</a>, <a href="http://www.lumpszine.com/">Victoria Perez-Segovia</a>, <a href="http://www.thehastypastry.com/">Ali Cantarella</a>, <a href="http://gooeyghoul.tumblr.com/">Gabi Cracraft</a>, and <a href="http://primeslime.com/">Henry Guerra</a>.
    </p>

    <figure>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <div class="fb-video" data-href="https://www.facebook.com/EmporiumChicago/videos/1175390775870109/" data-width="500" data-show-text="false">
      </div>

      <figcaption>
        Video by
        <a href="https://www.facebook.com/EmporiumChicago/">Emporium Arcade Bar</a>
        (Todd Beyer)
      </figcaption>
    </figure>

    <h3>Exhibitors</h3>

    <p>
      Token 4 was so excited to welcome these amazing Chicagoans:
      <a href="http://www.etsy.com/shop/itllglowonyou">Carolyn Kassnoff</a>,
      <a href="http://www.thehastypastry.com/">Ali Cantarella</a>,
      <a href="http://www.stephstanga.com/">Steph Stanga</a>,
      <a href="http://www.nicklacke.com/">Nick Lacke</a>,
      <a href="http://www.biancaxunise.com/">Bianca Xunise</a>,
      <a href="http://www.themartcomics.com/">Andrew Feeney</a>,
      <a href="http://www.blackmetaloftheamericas.com/">Ed Blair - Holy Demon Army Distro</a>,
      <a href="http://www.isabellarotman.com/">Isabella Rotman</a>,
      <a href="http://bskizzle7.wix.com/ibrodsky">Ilana Brodsky</a>,
      <a href="http://johnclarkbaileyjr.com/">John Bailey</a>,
      <a href="http://www.mikecenteno.com/">Mike Centeno</a>,
      <a href="http://www.mikefreiheit.com/">Mike Freiheit</a>,
      <a href="http://www.mosstapes.com/">Moss Tapes</a>,
      <a href="http://sagecoffey.tumblr.com/">Sage Coffey</a>,
      <a href="http://maxbareart.com/">Max Bare</a>
      <a href="http://melissasuestanley.net/">Melissa Sue Stanley</a>,
      <a href="https://www.nerdologues.com/fisticuffs">Fisticuffs</a>,
      <a href="http://www.lukospicturehouse.com/">Luke Schuler</a>,
      <a href="http://www.1980recs.com/">1980 Records</a>,
      <a href="http://www.feeltrip.co/">Feeltrip Records</a>,
      <a href="http://primeslime.com/">Henry Guerra</a>,
      <a href="http://gooeyghoul.tumblr.com/">Gabi Cracraft</a>,
      <a href="https://darkcirclesrecords.bandcamp.com/">Dark Circles Records</a>,
      <a href="http://www.joaniefalettoart.com/">Joanie Faletto</a>,
      <a href="http://wildwildpress.etsy.com/">Jessica Checkeroski</a>,
      <a href="http://www.rachalduggan.com/">Rachal Duggan</a>,
      <a href="http://www.peregrineangthius.com/">Peregrine Angthius</a>,
      <a href="https://deliaawesome.com/">Michael Schneider</a>,
      <a href="http://www.lindsaymathers.com/">Lindsay Mathers</a>,
      <a href="http://www.boredthegame.com/">Bored: The Game - Sam Wells</a>,
      <a href="http://www.sarahbecan.com/">Sarah Becan</a>,
      <a href="http://www.deliajean.com/">Delia Jean</a>,
      <a href="http://www.rosalarian.com/">Megan Gedris</a>,
      <a href="http://www.lumpszine.com/">Victoria Perez-Segovia</a>,
      <a href="http://www.downfallarts.com/">Alan D Caesar</a>,
      <a href="http://cargocollective.com/gabehowell">Gabe Howell</a>,
      <a href="http://www.margarethitch.com/">Margaret Hitch</a>, and
      <a href="http://lurkerbias.com/">Lurker Bias</a>.
    </p>
  </div>
</article>
