<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Token: A Night of Art, Music and Games</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i|Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" type="text/css"  href="/css/main.css">
</head>
<body>
  <div class="outer-wrapper">
    <div class="wrapper">
      {{> header}}

      <section class="main-section">
        {{{body}}}
      </section>
    </div>

    {{> footer}}
  <div class="outer-wrapper">

  <script src="/js/main.js"></script>
</body>
</html>
