<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Token: An exposition of Chicago artists</title>
  <link rel="stylesheet" type="text/css"  href="/css/reset.css">
  <link rel="stylesheet" type="text/css"  href="/css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
  {{> header}}

  <div class="page-container">
    <p class="about">
      Token is an event bringing together passionate visual artists, musicians, record producers, and game creators in the Chicago area.
    </p>

    <div class="application-container">
      <a href="http://goo.gl/forms/ClAzcE3eG5iAeoGk2" class="apply-button">Apply to Token 4: October, 2016</a>
    </div>

    <nav>
      <a href="#token1">Token 1</a>
      <a href="#token2">Token 2</a>
      <a href="#token3">Token 3</a>
    </nav>
  </div>

  <hr/>

  <section id="main-section">
    {{{body}}}
  </section>

  {{> footer}}

  <script src="/js/main.js"></script>
</body>
</html>
