<article id="token3" class="page-container">
  <div class="grid">
    <div class="primary-content">
      <h2>Token 3: April 27, 2016</h2>

      <p>
        Token 3 was held at Emporium in Logan Square, and was sponsored by
        <a href="http://do312.com/token2">Do312</a> and
        <a href="http://pabstblueribbon.com/">Pabst Blue Ribbon</a>.
        Music was provided by <a href="http://christine-gutierrez.com">Cat Claw</a>,
        Laura Caringell and Andrew Joseph of
        <a href="http://lumpenradio.com/paidtimeoff.html">Paid Time Off</a>,
        and a DJ set by <a href="http://www.whitemysteryband.com/">Francis Scott Key White of White Mystery</a>.
      </p>

      <figure>
        <div class="slideshow">
          <img src="/images/token/token3-photos/1.jpg">
          <img src="/images/token/token3-photos/2.jpg">
          <img src="/images/token/token3-photos/3.jpg">
          <img src="/images/token/token3-photos/4.jpg">
          <img src="/images/token/token3-photos/5.jpg">
          <img src="/images/token/token3-photos/6.jpg">
          <img src="/images/token/token3-photos/7.jpg">
          <img src="/images/token/token3-photos/8.jpg">
          <img src="/images/token/token3-photos/9.jpg">
          <img src="/images/token/token3-photos/10.jpg">
          <img src="/images/token/token3-photos/10.jpg">
          <img src="/images/token/token3-photos/11.jpg">
          <img src="/images/token/token3-photos/12.jpg">
          <img src="/images/token/token3-photos/13.jpg">
        </div>

        <figcaption>

          Photo booth by <a href="http://www.glitterguts.com/">Glitter Guts</a>. Additional photography by <a href="https://www.instagram.com/mantilla.s/">Sergio Mantilla</a>.
        </figcaption>
      </figure>

      <h3>Exhibitors</h3>

      <p>
        Token 3 had the large exhibitor list yet. We were proud to welcome:
        <a href="https://deliaawesome.com/the-comic/">Michael Schneider</a>,
        <a href="https://dumpstertapes.bandcamp.com/">Dumpster Tapes</a>,
        <a href="http://mikefreiheit.com/">Mike Freiheit</a>,
        <a href="http://wallofyouth.com/">Wall of Youth Records</a>,
        <a href="http://mosstapes.com/">Moss Tapes</a>,
        <a href="www.razielpuma.com">Raziel Puma</a>,
        <a href="https://mjb-art.com/">Marcelo Biott</a>,
        <a href="http://www.eeeric.com/comics/">Eric Reyes</a>,
        <a href="http://sagecoffey.tumblr.com/">Sage Coffey</a>,
        <a href="http://topfloorpress.etsy.com/">Top Floor Press</a>,
        <a href="http://www.johnclarkbaileyjr.com/">John Bailey</a>,
        <a href="http://www.1980recs.com/">1980 Records</a>,
        <a href="http://volatilestud.io/">Jacob Halton</a>,
        <a href="http://lukospicturehouse.com/">Luke Schuler</a>,
        <a href="http://javiercantdraw.com/">Javier Su치rez</a>,
        <a href="http://tallpatrecords.com/">Tall Pat Records</a>,
        <a href="http://manorhillman.tumblr.com/">Harry Hillman</a>,
        <a href="http://litlslaywon.com/">Yewon Kwon</a>,
        <a href="http://cargocollective.com/jessicacadwell">Jess Cadwell</a>,
        <a href="http://griffinmiller.tumblr.com/">Griffin Miller</a>,
        <a href="http://jbroe.com/">JB Roe</a>,
        <a href="http://blackmetaloftheamericas.com/">Edward Blair</a>,
        <a href="https://www.facebook.com/groups/698359116937067/">Chicago Women's Comics Collective</a>,
        <a href="https://www.facebook.com/sweetandsourbyadriana/">Adriana Pe침a</a>,
        <a href="https://www.instagram.com/servicebureausaic/">Service Bureau at The School of the Art Institute of Chicago</a>,
        <a href="http://biancaxunise.tumblr.com/">Bianca Xunise</a>,
        <a href="http://kevinbudnik.com/">Kevin Budnik</a>,
        <a href="http://berhuff.com/">Amber Huff</a>,
        <a href="https://www.instagram.com/gilleyman">Joshua Gilley</a>,
        <a href="https://www.instagram.com/artofthetinman">Joseph Tinaglia</a>,
        <a href="http://bskizzle7.wix.com/ibrodsky">Ilana Brodsky</a>,
        <a href="http://www.sugarbro.com/">Sean Mac</a>,
        <a href="http://www.nicklacke.com/">Nick Lacke</a>,
        <a href="http://www.radiatorcomics.com/">Radiator Comics</a>,
        <a href="https://www.instagram.com/xicxzine/">Xic@ Zine</a>,
        <a href="http://www.unsungfemmes.com/">Emily Ornberg</a>,
        <a href="http://annajobeck.com/">Anna Jo Beck</a>,
        <a href="http://www.mikecenteno.com">Mike Centeno</a>,
        <a href="http://andreabelldraws.com/">Andrea Bell</a>,
        and <a href="http://maximumpelt.bigcartel.com/">Maximum Pelt</a>
      </p>
    </div>

    <div class="secondary-content">
      <img class="token-poster" src="/images/token/3-poster.jpg" />

      <figure>
        <div class="tokens">
          <img class="token" src="/images/token/3-sage.png" />
          <img class="token" src="/images/token/3-jb.png" />
          <img class="token" src="/images/token/3-yewon.png" />
        </div>

        <figcaption>
          Tokens for Token 3 contributed by:
          <a href="http://sagecoffey.tumblr.com/">Sage Coffey</a>,
          <a href="http://jbroe.com/">JB Roe</a>,
          <a href="http://litlslaywon.com/">Yewon Kwon</a>.
        </figcaption>
      </figure>
    </div>
  </div>
</article>

<hr/>

<article id="token2" class="page-container">
  <div class="grid">
    <div class="primary-content">
      <h2>Token 2: January 13, 2016</h2>

      <p>
        Token 2 was again held at Emporium in Logan Square, and was sponsored by
        <a href="http://do312.com/token2">Do312</a> and
        <a href="http://pabstblueribbon.com/">Pabst Blue Ribbon</a>.
        Music was provided by <a href="http://christine-gutierrez.com">Cat Claw</a>
        with a DJ set by <a href="http://www.whitemysteryband.com/">Miss Alex White of White Mystery</a>.
      </p>

      <figure>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FvnxS7bHGmY?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>

        <figcaption>
          Video by
          <a href="https://www.youtube.com/channel/UCBIbsn6qef0OUt5NYs1pL5Q">Young Chicago Creatives</a>
          (Sergio Mantilla and Laura Cardozo)
        </figcaption>
      </figure>

      <h3>Exhibitors</h3>

      <p>
        We were pleased to welcome several Chicago artist and organizations to Token 2.
        They were:
        <a href="http://www.nicklacke.com/">Nick Lacke</a>,
        <a href="http://eyevyberecords.bigcartel.com/">Eye Vybe Records</a>,
        <a href="http://www.alexkostiw.com/">Alex Kostiw</a>,
        <a href="http://crimsonlolita.com/">Zachary Lund</a>,
        <a href="http://maximumpelt.bigcartel.com/">Maximum Pelt</a>,
        <a href="http://www.lanefujita.com/">Lane Fujita</a>,
        <a href="https://www.instagram.com/checkerosk/">Jessica Checkeroski</a>,
        <a href="https://www.instagram.com/explore/tags/youngchicagocreatives/">Young Chicago Creatives</a>,
        <a href="http://www.tyrellcannon.com/">Tyrell Cannon</a>,
        <a href="http://www.radiatorcomics.com/">Radiator Comics</a>,
        <a href="http://feeltrip.co/">Feeltrip Records</a>,
        <a href="http://www.davescheidt.com/">Dave Scheidt</a>,
        <a href="http://melissasuestanley.net/">Melissa Sue Stanley</a>,
        <a href="http://maxbareart.com/">Max Bare</a>,
        <a href="http://hello-david.com/">David Alvarado</a>,
        <a href="http://mosstapes.com/">Mosstapes</a>,
        <a href="http://johnclarkbaileyjr.com/">John Bailey</a>,
        <a href="http://jbroe.com/">JB Roe</a>,
        <a href="http://biancaxunise.tumblr.com/">Bianca DeBardelaben</a>,
        <a href="http://alexnall.tumblr.com/">Alex Nall</a>,
        <a href="http://www.mikefreiheit.com/">Mike Freiheit</a>,
        <a href="http://zeldagal.com/">Zelda Galewsky</a>,
        <a href="http://javiercantdraw.com/">Javier Su치rez</a>,
        <a href="http://nimbusprintshop.etsy.com">Nimbus Prints</a>,
        Harrington College of Design: <a href="http://www.duffyoconnor.com/">Duffy O'Connor</a>/<a href="https://www.behance.net/btone">Brandon Tone</a>/Nina D'Angier/<a href="https://twitter.com/ILLustratedGRL">Shea Cahill</a>,
        <a href="http://ghostcarpress.com/">Pranas T. Naujokaitis</a>
        and <a href="http://monstrochika.com/">Naomi Martinez</a>
      </p>
    </div>

    <div class="secondary-content">
      <img class="token-poster" src="/images/token/2-poster.jpg" />

      <figure>
        <div class="tokens">
          <img class="token" src="/images/token/2-lane.png" />
          <img class="token" src="/images/token/2-javier.png" />
          <img class="token" src="/images/token/2-bianca.png" />
          <img class="token" src="/images/token/2-john.png" />
          <img class="token" src="/images/token/2-zelda.png" />
        </div>

        <figcaption>
          Tokens for Token 2 contributed by:
          <a href="http://www.lanefujita.com/">Lane Fujita</a>, <a href="http://javiercantdraw.com/">Javier Su치rez</a>, <a href="http://biancaxunise.tumblr.com/">Bianca DeBardelaben</a>, <a href="http://johnclarkbaileyjr.com/">John Bailey</a>, and <a href="http://zeldagal.com/">Zelda Galewsky</a>.
        </figcaption>
      </figure>
    </div>
  </div>
</article>

<hr/>

<article id="token1" class="page-container">
  <div class="grid">
    <div class="primary-content">
      <h2>Token 1: September 30, 2015</h2>

      <p>
        Token 1 was held at Emporium in Logan Square near the end of 2015.  After months of planning,
        the day before the event Erik had to rush to the hospital to have his appendix removed.
        The event still went on; and with the help of family, friends and exhibitors, Token was a
        great success.  The night was hosted by <a href="http://pabstblueribbon.com/">Pabst Blue Ribbon</a>
        and <a href="http://do312.com/">Do312</a>,
        included music by <a href="http://christine-gutierrez.com">Cat Claw</a>,
        and held perfomances by <a href="https://www.facebook.com/williamsidesatariparty/">William Sides Atari Party</a> and <a href="https://www.facebook.com/DiodeMilliampere/?fref=ts">Diode Milliampere</a>.
      </p>

      <figure>
        <div class="slideshow">
          <img src="/images/token/token1-photos/1.jpg">
          <img src="/images/token/token1-photos/2.jpg">
          <img src="/images/token/token1-photos/3.jpg">
          <img src="/images/token/token1-photos/4.jpg">
          <img src="/images/token/token1-photos/5.jpg">
          <img src="/images/token/token1-photos/6.jpg">
          <img src="/images/token/token1-photos/7.jpg">
          <img src="/images/token/token1-photos/8.jpg">
          <img src="/images/token/token1-photos/9.jpg">
          <img src="/images/token/token1-photos/10.jpg">
        </div>

        <figcaption>
          Photo booth graciously provided by <a href="http://www.glitterguts.com/">Glitter Guts</a>.
        </figcaption>
      </figure>

      <h3>Exhibitors</h3>

      <p>
        We were pleased to welcome several Chicago artist and organizations to the first Token.
        They were:
        <a href="http://www.radiatorcomics.com/">Radiator Comics</a>,
        <a href="http://www.bricabracrecords.com/">Bric-a-Brac Records</a>,
        <a href="http://feeltrip.co/">Feeltrip Records</a>,
        <a href="http://www.davescheidt.com/">Dave Scheidt</a>,
        <a href="http://aaronpittman.tumblr.com/">Aaron Pittman</a>,
        <a href="http://melissasuestanley.net/">Melissa Sue Stanley</a>,
        <a href="http://maxbareart.com/">Max Bare</a>,
        <a href="http://kevinbudnik.com/">Kevin Budnik</a>,
        <a href="http://hello-david.com/">David Alvarado</a>,
        <a href="http://mosstapes.com/">Mosstapes</a>,
        <a href="http://www.perfectly-acceptable.com/">Perfectly Acceptable Press</a>,
        <a href="http://johnclarkbaileyjr.com/">John Bailey</a>,
        <a href="http://jbroe.com/">JB Roe</a>,
        <a href="http://biancaxunise.tumblr.com/">Bianca DeBardelaben</a>,
        and <a href="http://alexnall.tumblr.com/">Alex Nall</a> (representing <a href="http://chicagozinefest.org/">Chicago Zine Fest</a>).
      </p>
    </div>

    <div class="secondary-content">
      <img class="token-poster" src="/images/token/1-poster.jpg" />

      <figure>
        <div class="tokens">
          <img class="token" src="/images/token/1-christine.png" />
          <img class="token" src="/images/token/1-shea.png" />
          <img class="token" src="/images/token/1-erik.png" />
          <img class="token" src="/images/token/1-armani.png" />
          <img class="token" src="/images/token/1-adrian.png" />
        </div>

        <figcaption>
          Tokens for Token 1 contrbuted by:
          <a href="http://christine-gutierrez.com">Christine Gutierrez</a>, <a href="https://twitter.com/ILLustratedGRL">Shea Cahill</a>, <a href="http://schneiderik.com">Erik Schneider</a>, <a href="http://www.armanibarron.com/">Armani Barron</a>, and Adrian Quintero.
        </figcaption>
      </figure>
    </div>
  </div>
</article>


