<div class="split-grid">
  <div class="split-grid__item">
    <h1>News</h1>
    <p>
      Token 5 was a blast! 
      We had a fantastic time.
    </p>

    <div class="application-container">
      <!--<a href="https://goo.gl/forms/O2LlqSsydYCwMHIc2" class="apply-button">Apply to Token 6: Monday, October 2, 2017</a>-->
    </div>
  </div>

  <div class="split-grid__item">
    <div class="slideshow js_slider">
      <div class="frame js_frame">
        <ul class="slides js_slides">
          <li class="js_slide"><img src="/images/token/photos/token3-1.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token3-2.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token3-3.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token3-4.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token3-5.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token3-6.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token3-7.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token4-1.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token4-2.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token4-3.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token4-4.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token4-5.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token1-1.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token1-2.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token1-3.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token1-4.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token1-5.jpg"></li>
          <li class="js_slide"><img src="/images/token/photos/token1-6.jpg"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="past-events">
  <div class="past-events__content">
    <h1>Past Events</h1>

    {{> token1}}  
    {{> token2}}  
    {{> token3}}  
    {{> token4}}  
    {{> token5}}  
  </div>
</div>
