* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: $font-size-base;

  @media (max-width: 540px) {
    font-size: $font-size-base*0.8;
  }
}

body {
  background-color: $white;
  color: #222;
  font-family: $font-family-sans-serif;
  line-height: $line-height-base;
  font-weight: 400;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: $line-height-base;
}

h1 {
  font-family: $font-family-serif;
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: $line-height-base;
}

h2 {
  font-family: $font-family-serif;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: $line-height-base;
}

h3 {
  font-family: $font-family-serif;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: $line-height-base;
}

.muted {
  color: $grey-dark;
}

p,
figure {
  margin-bottom: $line-height-base;
}

figcaption {
  color: $grey;
  margin-top: -$line-height-base/2;

  @media (min-width: 768px) {
    font-size: 0.75rem;
    line-height: $line-height-base * 0.75;
  }
}

iframe,
.fb-video {
  display: block;
  width: 100%;
  margin-bottom: $line-height-base;
  max-width: 600px;
}

hr {
  margin: ($line-height-base * 2) 0;
  height: $line-height-base;
  text-align: center;
  background: transparent;
  border: none;

  &:after {
    display: block;
    content: "· · ·";
    font-size: 2rem;
    line-height: $line-height-base;
    color: #AAA;
  }
}
