#main-header {
  .main-header__external-links {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 100%;
    text-align: right;
  }

  .main-header__external-link {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;

    img {
      height: $line-height-base;
      width: $line-height-base;
    }
  }
}

#main-header .logo {
  max-width: $line-height-base * 5;
  margin-bottom: $line-height-base;
  margin-left: auto;
  margin-right: auto;
  margin-top: $line-height-base * 2;
}