.quick-look-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  overflow-y: scroll;

  .quick-look-modal__content {
    position: relative;
    margin: 70px auto;
    max-width: 848px;
    width: 100%;
    background: #FFF;
    padding: 25px 40px 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 101;

    #product {
      margin-top: 0;
    }
  }

  .quick-look-modal__dismiss-bar {
    @include clearfix;

    position: relative;
    top: 70px;
    max-width: 848px;
    margin: 0 auto;
    width: 100%;
    background: #222;
    z-index: 101;
  }

  .quick-look-modal__dismiss-link {
    display: inline-block;
    float: right;
    text-align: center;
    height: 1.75rem;
    width: 1.7rem;
    font-size: 2rem;
    line-height: 1rem;
    font-weight: 100;
    cursor: pointer;
    padding: 0.25rem;
    color: #FFF;
  }
}
