$line-height-base: 1.8rem;
$font-size-base: 21px;
$font-family-serif: 'Merriweather', georgia, serif;
$font-family-sans-serif: "Roboto", "Hevetica Neue", sans-serif;
$white: #FFFFFF;
$black: #000000;
$grey-dark: #666666;
$grey: #AAAAAA;
$grey-light: #DDDDDD;
$yellow: #FFF200;
